<h1>Talks</h1>

<p><%= link_to "Import CSV", talks_import_path, class: "btn btn-primary" %></p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th>Speaker name</th>
      <th>Speaker company</th>
      <th>Speaker biography</th>
      <th>Talk title</th>
      <th>Talk abstract</th>
      <th>Talk duration</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @talks.each_with_index do |talk, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= talk.speaker_name %></td>
        <td><%= talk.speaker_company %></td>
        <td><%= talk.speaker_biography %></td>
        <td><%= talk.talk_title %></td>
        <td><%= talk.talk_abstract %></td>
        <td><%= talk.talk_duration %></td>
        <td><%= talk.notes %></td>
        <!--
        <td>
          <%= link_to 'Edit', edit_talk_path(talk) %>
          <%= link_to 'Delete', talk, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Talk', new_talk_path %>
